<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Cira Management">
	<groups>
		<run>
			<include name="Smoke" />
			<include name="Functional" />
			<!-- <exclude name="sanity"/> Uncomment this line to exclude sanity group -->
		</run>
	</groups>

	<listeners>
		<listener class-name="com.ciranet.testlisteners.TestListener" />
		<listener class-name="com.ciranet.testlisteners.LoginListener" />
	</listeners>

	<test thread-count="1" name="Login Test Cases" enabled="false">
		<classes>
			<class name="com.ciranet.loginpage.testcases.LoginPageTest">
			</class>
		</classes>
	</test>

	<test thread-count="1" name="HomePageTest" enabled="false">
		<classes>
			<class name="com.ciranet.homepage.testcases.HomePageTest">
			</class>
		</classes>
	</test>

	<test thread-count="1" name="InternalTasksPageTest"
		enabled="false">
		<classes>
			<class
				name="com.ciranet.myworkqueue.testcases.InternalTasksPageTest">
			</class>
		</classes>
	</test>

	<test thread-count="1" name="ComMgmtBoardApprovalsPageTest"
		enabled="false">
		<classes>
			<class
				name="com.ciranet.myworkqueue.communitymanagement.testcases.BoardApprovalsPageTest">
			</class>
		</classes>
	</test>

	<test thread-count="1" name="ComMgmtCommonLotsAppraisalPageTest"
		enabled="false">
		<classes>
			<class
				name="com.ciranet.myworkqueue.communitymanagement.testcases.CommonLotsAppraisalPageTest">
			</class>
		</classes>
	</test>


	<test thread-count="1" name="Fulfillment Queue Page Test"
		enabled="false">
		<classes>
			<class
				name="com.ciranet.myworkqueue.communitymanagement.testcases.FulfillmentQueuePageTest">

			</class>
		</classes>
	</test>

	<test thread-count="1" name="Maintenance Work Orders Page"
		enabled="false">
		<classes>
			<class
				name="com.ciranet.myworkqueue.communitymanagement.testcases.MaintenanceWorkOrdersPageTest">

			</class>
		</classes>
	</test>

	<test thread-count="1"
		name="Disclosure Processing Closing Requests Page" enabled="false">
		<classes>
			<class
				name="com.ciranet.myworkqueue.disclosureprocessing.testcases.ClosingRequestsPageTest">

			</class>
		</classes>
	</test>

	<test thread-count="1" name="Projects Tasks Page Test"
		enabled="false">
		<classes>
			<class
				name="com.ciranet.myworkqueue.testcases.ProjectsTasksPageTest">

			</class>
		</classes>
	</test>

	<test thread-count="1"
		name="Disclo Processing Property Conveyance Page" enabled="false">
		<classes>
			<class
				name="com.ciranet.myworkqueue.disclosureprocessing.testcases.PropertyConveyancePageTest">

			</class>
		</classes>
	</test>

	<test thread-count="1" name="Statement Approval Queue Page"
		enabled="false">
		<classes>
			<class
				name="com.ciranet.myworkqueue.receivableslockbox.testcases.StatementApprovalQueuePageTest">
			</class>
		</classes>
	</test>

	<test thread-count="1" name="Violation review Queue Page"
		enabled="false">
		<classes>
			<class
				name="com.ciranet.myworkqueue.communitymanagement.testcases.ViolationReviewPageTest">
			</class>
		</classes>
	</test>


	<test thread-count="1" name="Billing Item Management Page Test"
		enabled="false">
		<classes>
			<class
				name="com.ciranet.myportfolio.revenuemanagement.testcases.BillingItemManagementPageTest">

			</class>
		</classes>
	</test>

	<test thread-count="1" name="New AR Payment Page Test"
		enabled="false">
		<classes>
			<class
				name="com.ciranet.corporatecirabooks.accountsreceivable.testcases.NewARPaymentPageTest">
			</class>
		</classes>
	</test>

	<test thread-count="1" name="Community Blocks Page Test"
		enabled="false">
		<classes>
			<class
				name="com.ciranet.myworkqueue.disclosureprocessing.testcases.CommunityBlocksPageTest">
			</class>
		</classes>
	</test>


	<test thread-count="1" name="Board members Page Test"
		enabled="false">
		<classes>
			<class
				name="com.ciranet.boardmembers.testcases.BoardMemberNavigationTest">

			</class>
		</classes>
	</test>

	<test thread-count="1" name="Internal Page Test" enabled="false">
		<classes>
			<class
				name="com.ciranet.internaluser.testcases.InternalUserNavigationTest">

			</class>
		</classes>
	</test>

	<test thread-count="1" name="Configurations Page Test"
		enabled="false">
		<classes>
			<class
				name="com.ciranet.configurations.testcases.BatchJobEmailsPageTest">

			</class>
		</classes>
	</test>

	<test thread-count="1"
		name="Configuration Modules Click Page Test" enabled="false">
		<classes>
			<class
				name="com.ciranet.configurations.testcases.ModulesPageTest">

			</class>
		</classes>
	</test>

	<test thread-count="1"
		name="Configuration Response Templatesf Page Test" enabled="false">
		<classes>
			<class
				name="com.ciranet.configurations.testcases.ResponseTemplatesPageTest">
			</class>
		</classes>
	</test>


	<test thread-count="1" name="Configuration Services Page Test"
		enabled="false">
		<classes>
			<class
				name="com.ciranet.configurations.testcases.ServicesPageTest">
			</class>
		</classes>
	</test>

	<test thread-count="1"
		name="Configuration Closing Portal Page Test" enabled="false">
		<classes>
			<class
				name="com.ciranet.configurations.testcases.ClosingPortalPageTest">
			</class>
		</classes>
	</test>


	<test thread-count="1" name="Community Configuration Page Test"
		enabled="false">
		<classes>
			<class
				name="com.ciranet.configurations.testcases.CommunityPageTest">
			</class>
		</classes>
	</test>


	<test thread-count="1" name="Community Accounting Page Test"
		enabled="false">
		<classes>
			<class
				name="com.ciranet.configurations.testcases.CommunityAccountingPageTest">
			</class>
		</classes>
	</test>

	<test thread-count="1" name="Configuration Enforcement Page Test"
		enabled="false">
		<classes>
			<class
				name="com.ciranet.configurations.testcases.EnforcementPageTest">

			</class>
		</classes>
	</test>

	<test thread-count="1"
		name="Configuration Process Tracker Page Test" enabled="false">
		<classes>
			<class
				name="com.ciranet.configurations.testcases.ProcessTrackerPageTest">

			</class>
		</classes>
	</test>

	<test thread-count="1"
		name="Configuration Report Templates Page Test" enabled="false">
		<classes>
			<class
				name="com.ciranet.configurations.testcases.ReportTemplatesPageTest">

			</class>
		</classes>
	</test>

	<test thread-count="1" name="Deposits Page Test" enabled="false">
		<classes>
			<class
				name="com.ciranet.cirabooks.cashmanagement.testcases.DepositsPageTest">
			</class>
		</classes>
	</test>

	<test thread-count="1" name="My Customer Charges Page Test"
		enabled="false">
		<classes>
			<class
				name="com.ciranet.myportfolio.revenuemanagement.testcases.MyCustomerChargesPageTest">
			</class>
		</classes>
	</test>

	<test thread-count="1" name="Upload Budgets Page" enabled="false">
		<classes>
			<class
				name="com.ciranet.corporatecirabooks.generalledger.testcases.UploadBudgetsPageTest">

			</class>
		</classes>
	</test>

	<test thread-count="1" name="AP Expense Detail Page" enabled="false">
		<classes>
			<class
				name="com.ciranet.cirabooks.accountspayable.testcases.APExpenseDetailPageTest">
			</class>
		</classes>
	</test>
	
	<test thread-count="1" name="Open Violations Log Page" enabled="false">
		<classes>
			<class
				name="com.ciranet.community.compliance.testcases.OpenViolationsLogPageTest">
			</class>
		</classes>
	</test>
	<test thread-count="1" name="Preferences Page Test"
		enabled="true">
		<classes>
			<class
				name="com.ciranet.preferences.testcases.PreferencesPageTest">
			</class>
		</classes>
	</test>
	<test thread-count="1" name="Community Dashboard - Quick Links Test"
		enabled="false">
		<classes>
			<class name="com.ciranet.community.dashboard.testcases.QuickLinksPageTest">
				
			</class>
		</classes>
	</test>
	
	<test thread-count="1" name="Forgot Password Functionality"
		enabled="true">
		<classes>
			<class name="com.ciranet.forgotpassword.testcases.ForgotPasswordPageTest">		
			</class>
		</classes>
	</test>
	
</suite> 